
    <div class="card" style="width: 14rem;">
        <div class="card-img-top bg-primary">
          <h3 class="card-title p-2 text-white">Name</h3>
          <h4 class="card-title p-2 text-white">Intern</h4>
        </div>
        <div class="card-body">
        <div class="card" style="width: 12rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">ID</li>
            <li class="list-group-item">Email</li>
          </ul>
        </div>
      </div>
    </div>
